!!! 5
%html
	%head
		%title Postear
		%link( href = "css/bootstrap.css" type = "text/css" rel = "stylesheet" )/
		%link( href = "css/style.css" type = "text/css" rel = "stylesheet" )/
	%body
		%nav
			%header
				%h1	Posting Page
			%section.navbar-inner
		%section.container
			%h2 test


